.contact {
    text-align: center;
    font-weight: 400;
}

.contact p {
    font-size: 15px;
}

.contact h2 {
    font-weight: 400;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}